<aside class="main-sidebar">
  <section class="sidebar" [ngSwitch]="role">
    <ul class="sidebar-menu" data-widget="tree" *ngSwitchCase="'administrator'">
      <li [ngClass]="{'active': section === 'administrator'}">
        <a [routerLink]="['/administrator/administrator']">
          <i class="fa fa-circle-o"></i> <span>Administradores</span>
        </a>
      </li>
      <li [ngClass]="{'active': section === 'instructor'}">
        <a [routerLink]="['/administrator/instructor']">
          <i class="fa fa-circle-o"></i> <span>Instructores</span>
        </a>
      </li>
      <li [ngClass]="{'active': section === 'user'}">
        <a [routerLink]="['/administrator/user']">
          <i class="fa fa-circle-o"></i> <span>Usuarios</span>
        </a>
      </li>
      <li [ngClass]="{'active': section === 'group'}">
        <a [routerLink]="['/administrator/group']">
          <i class="fa fa-circle-o"></i> <span>Grupos</span>
        </a>
      </li>
    </ul>
    <ul class="sidebar-menu" data-widget="tree" *ngSwitchCase="'instructor'">
    </ul>
    <ul class="sidebar-menu" data-widget="tree" *ngSwitchCase="'user'">
    </ul>
  </section>
</aside>
