<div class="box-header with-border">
  <h1 class="box-title">Listado de instructores</h1>
  <div class="box-tools pull-right">
    <a class="btn btn-sm btn-primary" title="Crear" [routerLink]="['/administrator/instructor/create']">
      <i class="fa fa-plus"></i> Crear
    </a>
  </div>
</div>
<div class="box-body">
  <app-messages></app-messages>
  <div *ngIf="!load">Cargando datos ...</div>
  <div class="table-responsive" *ngIf="load">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Email</th>
          <th>Nombre</th>
          <th>1º apellido</th>
          <th>2º apellido</th>
          <th>Fecha creación</th>
          <th>Fecha actualización</th>
          <th>Activo</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="items.length === 0; else elseBlock">
          <td colspan="9" class="text-center">No existen datos</td>
        </tr>
        <ng-template #elseBlock>
          <tr *ngFor="let item of items">
            <td>{{ item['id'] }}</td>
            <td>{{ item['email'] }}</td>
            <td>{{ item['name'] }}</td>
            <td>{{ item['surname_1'] }}</td>
            <td>{{ item['surname_2'] }}</td>
            <td>{{ item['created_at'] | date:'dd/MM/yyyy HH:mm:ss' }}</td>
            <td>{{ item['updated_at'] | date:'dd/MM/yyyy HH:mm:ss' }}</td>
            <td>{{ item['active'] ? 'Sí' : 'No' }}</td>
            <td>
              <a class="btn btn-xs btn-warning" title="Ver detalles" [routerLink]="['/administrator/instructor', item['id']]">
                <i class="fa fa-eye"></i>
              </a>&nbsp;
              <a class="btn btn-xs btn-success" title="Editar" [routerLink]="['/administrator/instructor', item['id'], 'update']">
                <i class="fa fa-pencil"></i>
              </a>&nbsp;
              <a class="btn btn-xs btn-danger" title="Eliminar" [routerLink]="['/administrator/instructor', item['id'], 'delete']">
                <i class="fa fa-trash"></i>
              </a>
            </td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
</div>
<div class="box-footer"></div>
