<div class="box-header with-border">
  <h1 class="box-title">{{ title }}</h1>
  <div class="box-tools pull-right"></div>
</div>
<div class="box-body">
  <p>Bienvenido al panel de instructor. Selecciona una opción:</p>
  <p>
    <a [routerLink]="['/instructor/group']" class="btn btn-default btn-block" style="text-align:left">Grupos</a>
    <a [routerLink]="['/instructor/questionary']" class="btn btn-default btn-block" style="text-align:left">Exámenes/encuestas</a>
  </p>
</div>
<div class="box-footer"></div>
