<div class="login-box">
    <div class="login-logo">
        <a href="/"><b>{{ appInfo.name1 }}</b> {{ appInfo.name2 }}</a>
    </div>

    <div class="login-box-body">
        <app-messages></app-messages>
        <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
            <div [ngClass]="{'form-group': true, 'has-error': email?.invalid && (email?.dirty || email?.touched)}">
                <label for="email"><span class="glyphicon glyphicon-envelope"></span> Email</label>
                <input type="email" class="form-control" name="email" id="email" [(ngModel)]="model.email" #email="ngModel" required ngModel [email]="true">
                <div class="help-block" *ngIf="email.invalid && (email.dirty || email.touched)">
                    <div *ngIf="email.errors.required">El email es requerido</div>
                    <div *ngIf="email.errors.email">Debes indicar un email válido</div>
                </div>
            </div>
            <div [ngClass]="{'form-group': true, 'has-error': password?.invalid && (password?.dirty || password?.touched)}">
                <label for="password"><span class="glyphicon glyphicon-lock"></span> Contraseña</label>
                <input type="password" class="form-control" name="password" id="password" [(ngModel)]="model.password" #password="ngModel" required>
                <div class="help-block" *ngIf="password.invalid && (password.dirty || password.touched)">
                    <div *ngIf="password.errors.required">La contraseña es requerida</div>
                </div>
            </div>
            <div [ngClass]="{'form-group': true, 'has-error': role?.invalid && (role?.dirty || role?.touched)}">
                <label for="role"><span class="glyphicon glyphicon-user"></span> Tipo de cuenta</label>
                <select class="form-control" name="role" id="role" [(ngModel)]="model.role" #role="ngModel" required>
                    <option value=""></option>
                    <option *ngFor="let role of roles" [value]="role.value">{{role.text}}</option>
                </select>
                <div class="help-block" *ngIf="role.invalid && (role.dirty || role.touched)">
                    <div *ngIf="role.errors.required">El tipo de cuenta es requerido</div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6"></div>
                <div class="col-xs-6">
                    <button type="submit" class="btn btn-primary btn-block btn-flat" [disabled]="!loginForm.form.valid">Iniciar sesión</button>
                </div>
            </div>
        </form>
    </div>
</div>
