<div class="box-header with-border">
    <h1 class="box-title">Panel de administrador</h1>
    <div class="box-tools pull-right"></div>
</div>
<div class="box-body">
    <p>Bienvenido al panel de administrador. Selecciona una opción:</p>
    <p>
      <a [routerLink]="['/administrator/administrator']" class="btn btn-default btn-block" style="text-align:left">Administradores</a>
      <a [routerLink]="['/administrator/instructor']" class="btn btn-default btn-block" style="text-align:left">Instructores</a>
      <a [routerLink]="['/administrator/user']" class="btn btn-default btn-block" style="text-align:left">Usuarios</a>
      <a [routerLink]="['/administrator/group']" class="btn btn-default btn-block" style="text-align:left">Grupos</a>
    </p>
</div>
<div class="box-footer"></div>
