<div class="alert alert-info" *ngIf="messageService.messages['info'].length">
    <button type="button" class="close" aria-hidden="true" (click)="messageService.clear('info')">&times;</button>
    <ul>
        <li *ngFor="let message of messageService.messages['info']">{{message}}</li>
    </ul>
</div>
<div class="alert alert-success" *ngIf="messageService.messages['success'].length">
    <button type="button" class="close" aria-hidden="true" (click)="messageService.clear('success')">&times;</button>
    <ul>
        <li *ngFor="let message of messageService.messages['success']">{{message}}</li>
    </ul>
</div>
<div class="alert alert-warning" *ngIf="messageService.messages['warning'].length">
    <button type="button" class="close" aria-hidden="true" (click)="messageService.clear('warning')">&times;</button>
    <ul>
        <li *ngFor="let message of messageService.messages['warning']">{{message}}</li>
    </ul>
</div>
<div class="alert alert-danger" *ngIf="messageService.messages['error'].length">
    <button type="button" class="close" aria-hidden="true" (click)="messageService.clear('error')">&times;</button>
    <ul>
        <li *ngFor="let message of messageService.messages['error']">{{message}}</li>
    </ul>
</div>
