<div class="box-header with-border">
  <h1 class="box-title">{{ title }}</h1>
  <div class="box-tools pull-right">
    <a class="btn btn-sm btn-primary" title="Volver al listado" [routerLink]="['/administrator/group']">
      <i class="fa fa-arrow-left"></i> Volver al listado
    </a>&nbsp;
    <a class="btn btn-sm btn-primary" title="Volver a detalles" [routerLink]="['/administrator/group', id]">
      <i class="fa fa-eye"></i> Volver a detalles
    </a>
  </div>
</div>
<form (ngSubmit)="onSubmit()" #formUpdate="ngForm">
  <div class="box-body">
    <app-messages></app-messages>
    <div *ngIf="!load">Cargando datos ...</div>
    <div *ngIf="load">
      <div [ngClass]="{'form-group': true, 'has-error': name?.invalid && (name?.dirty || name?.touched)}">
        <label for="name">Nombre</label>
        <input type="text" id="name" name="name" class="form-control" [(ngModel)]="data.name" #name="ngModel" required>
        <div class="help-block" *ngIf="name.invalid && (name.dirty || name.touched)">
          <div *ngIf="name.errors.required">El campo es requerido</div>
        </div>
      </div>
      <div [ngClass]="{'form-group': true, 'has-error': description?.invalid && (description?.dirty || description?.touched)}">
        <label for="description">Descripción</label>
        <input type="text" id="description" name="description" class="form-control" [(ngModel)]="data.description" #surname_2="ngModel">
      </div>
      <div [ngClass]="{'form-group': true, 'has-error': active?.invalid && (active?.dirty || active?.touched)}">
        <label>Activo</label>
        <div class="radio">
          <label><input type="radio" name="active" value="1" [(ngModel)]="data.active" #active="ngModel" required> Sí</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="active" value="0" [(ngModel)]="data.active" #active="ngModel" required> No</label>
        </div>
        <div class="help-block" *ngIf="active.invalid && (active.dirty || active.touched)">
          <div *ngIf="active.errors.required">El campo es requerido</div>
        </div>
      </div>
    </div>
  </div>
  <div class="box-footer">
    <button type="submit" class="btn btn-primary" [disabled]="!load || !formUpdate.form.valid">Modificar</button>
  </div>
</form>
